* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sub-color: rgb(9, 42, 65);
  --main-color: rgb(8, 37, 56);
}

body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}

.navitem2:hover img{
  transform: rotate(0deg);
}

#img-1 {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 24px;
}

.main-content {
  max-width: 90%;
}