* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}
h1::selection {
  background: #ff4b37;
  color: white;
}
h2::selection {
  background: #ff4b37;
  color: white;
}
h3::selection {
  background: #ff4b37;
  color: white;
}
h4::selection {
  background: #ff4b37;
  color: white;
}
h5::selection {
  background: #ff4b37;
  color: white;
}
h6::selection {
  background: #ff4b37;
  color: white;
}
p::selection {
  background: #ff4b37;
  color: white;
}
li::selection {
  background: #ff4b37;
  color: white;
}
ul::selection {
  background: #ff4b37;
  color: white;
}
a::selection {
  background: #ff4b37;
  color: white;
}
img::selection {
  background: #ff4b37;
  color: white;
}
input::selection {
  background: #ff4b37;
  color: white;
}
strong::selection {
  background: #ff4b37;
  color: white;
}
em::selection {
  background: #ff4b37;
  color: white;
}
.header-bar {
  background-color: rgb(3,3,3);
  display: flex;
  position: fixed;
  right: 0px;
  left: 0px;
  gap: 45px;
  align-items: center;
  justify-content: space-between;
  padding: -1% -1% 1% -1%;
  padding: 30px 20%;
  height: 12px !important;
  color: white;
  padding-top:25px !important;
  padding-bottom:25px !important;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 200ms linear;
}

#title {
  margin: 0;
}

hr {
  margin: 6px 0px;
  background-color: rgb(255, 255, 255);
}

ul.topnav {
  display: flex;
  gap: 45px;
  list-style-type: none;
  margin: 0;
  padding-top: 4px;
}

.topnav li::after {
  display:block;
  content: '';
  border-bottom: solid 2px #ffffff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.topnav li:hover::after {
  transform: scaleX(1);
}

.topnav2 {
  display: flex;
  gap: 45px;
  list-style-type: none;
  margin: 0;
  padding-top: 4px;
}

.topnav2 li {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navitem2::after {
  display:block;
  content: '';
  border-bottom: solid 2px #ffffff !important;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.navitem2:hover::after {
  transform: scaleX(1);
}

.navitem2::after {
  display:block;
  content: '';
  border-bottom: solid 3px #ffffff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.topnav2 li ul {
  display: none;
  padding: 13px 15px;
  position: absolute;
  border-top: 3px solid #1b1b1b;
  border-bottom: 3px solid #1b1b1b;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 10px;
  animation: fadein 0.2s !important;
  transition: all 0.2s ease;
  width: 200px;
  background-color: #0a0a0a;
}

.topnav2 li:hover ul {
  display: block;
}

.topnav2 li:focus ul {
  display: block;
}

.topnav2 li ul li {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 180px;
}

.topnav2 li ul li a{
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(212, 212, 212);
  padding-right: 100;
  transition: all 0.06s ease;
}

.topnav2 li ul li a:hover{
  color: white;
}

.topnav2 ul {
  list-style: none;
}

.navitem a{
    text-decoration: none;
    color: white;
}

.navitem2 a{
    text-decoration: none;
    color: white;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

#searchbar {
  background-color: rgb(3,3,3);
  border: none;
  border-radius: 7px;
  color: white;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.05s ease-in;
}

.subheader-bar {
  background-color: rgb(5,5,5);
  display: flex;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 50px;
  gap: 45px;
  align-items: center;
  justify-content: space-between;
  padding: -1% -1% 1% -1%;
  padding: 30px 20%;
  height: 36px !important;
  color: white;
  padding-top:50px !important;
  padding-bottom:50px !important;
  font-family: 'Montserrat', sans-serif;
  transition: top 0.39s; /* Transition effect when sliding down (and up) */
}

.subheader-bar h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 800;
  padding-top: 9px;
  color: white;
}

.subheader-bar h1::selection {
  background: #ff4b37;  
}

#title {
  margin: 0;
}

#title {
  margin: 0;
}

.footer-bar {
  background-color: rgb(8, 8, 8);
  display: flex;
  right: 0;
  left: 0;
  bottom: 101px;
  margin-top: 10em;
  gap: 45px;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 30px 20%;
  height: 12px !important;
  color: white;
  padding-top:160px !important;
  padding-bottom:160px !important;
  font-family: 'Montserrat', sans-serif;
}
.footercol{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footercol h4{
  font-weight: 500;
  font-size: 18px;
}
#section5 h4{
  margin-bottom: 0px;
}
.footeritem {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 16px;
}
.footeritem:hover {
  color: white;
}
.contactbar {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 0;
}
.contactbar::placeholder {
  color: black;
}
.contactbar:focus::placeholder {
  color: transparent;
}
.contactform{
  display: flex;
  flex-direction: column;
}
#contactsubmit{
  background-color: #ff4b37 !important;
  color: white !important;
}
#contactsubmit:hover{
  background-color: #db3d2b !important;
}

.subfooter-bar {
  background-color: rgb(5, 5, 5);
  padding-top: 40px;
  padding-bottom: 34px;
  right: 0;
  left: 0;
  bottom: 0;
}
.subfooter-bar h5 {
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding-left: 100px;
}

.downarrow {
  height: 18px;
  padding-left: 4px;
  transform: rotate(-90deg);
  transition: all 0.21s ease;
}

.main-content{
  padding-top: 170px;
  margin: auto;
  width: 1250px;
  line-height: 30px;
}

.main-content h2{
  font-weight: 700;
  font-size: 42px;
}

.main-content h3{
  font-weight: 700;
  font-size: 30px;
}

.main-content h4{
  font-weight: 600;
}

.main-content img{
  width: 100%;
}

#date {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 18px;
  color: rgb(139, 139, 139);
}

.main-content p{
  font-weight: 400;
  font-size: 21px;
  color: rgb(78, 78, 78);
}

.main-content ul{
  font-weight: 400;
  font-size: 21px;
  color: rgb(78, 78, 78);
}

.link-to {
  color: rgb(0, 147, 233);
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 147, 233);
  transition: 0.11s ease-in-out;
}
.main-content a:hover{
  background-color: rgb(222, 236, 243);
}

.codepen {
  background-color: rgb(26, 26, 26);
  color: white;
  border-radius: 16px;
}

#codepen-1 pre{
  font-size: 18px;
  padding: 16px;
}

.title {
  display: flex;
  gap: 10px;
}
.title img{
  height: 52px;
  align-self: center;
}

.resources {
  display: flex;
  gap: 1.2em;
  align-items: center;
  align-self: center;
  margin-bottom: 1em;
}

.thumbnail {
  border-radius: 10px;
}

.video-desc {
  font-weight: 400 !important;
  font-size: 1em !important;
  line-height: 1.2em;
}

.video-link:hover {
  background-color: transparent !important;
}

.video-contents {
  display: flex;
  flex-direction: column;
}
.video-contents h6, span{
  padding-bottom: 3px;
  margin: 0;
}
.video-contents h5{
  padding-bottom: 0px;
  margin: 0;
}

.resource-type {
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
  font-size: 0.65em;
  font-weight: 400;
  line-height: 1.7em;
  padding: 0 5px 0 5px;
  border-radius: 0.4em;
}
#youtube {
  background-color:rgb(218, 241, 255);
}
#online-course {
  background-color:rgb(255, 218, 255);
}
#cert {
  background-color:rgb(255, 218, 218);
}